body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group .btn {
    width: 100%;
    padding: 10px;
    background-color: #f7b705;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group .btn2 {
    width: 100%;
    padding: 10px;
    background-color: #f7b705;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.form-group .btn:hover {
    background-color: #f7b705;
}

.form-group .btn2:hover {
    background-color: #f7b705;
}

.form-group .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

h1 {
    font-family: 'Brush Script MT'; 
    font-size: 50px; 
    color: #f7b705; 
    text-align: center;
}